<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gs.cebreja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cebreja"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ApproveOrderSuccesActivity"></activity>
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.SuccessAvaliationActivity" />
        <activity android:name=".activity.DetailedOrderActivity" />
        <activity android:name=".activity.AvaliationsBeerActivity" />
        <activity android:name=".activity.BeerRegistred" />
        <activity android:name=".activity.ApprovalActivity" />
        <activity android:name=".activity.EditBeerActivity" />
        <activity android:name=".activity.ReviseBeer" />
        <activity android:name=".activity.DeleteBeerActivity" />
        <activity android:name=".activity.BeerActivity" />
        <activity android:name=".activity.ManagementProfileActivity" />
        <activity android:name=".activity.AddBeerActivity" />
        <activity android:name=".activity.SolicitationActivity" />
        <activity android:name=".activity.FavoriteBeersActivity" />
        <activity android:name=".activity.RankingActivity" />
        <activity android:name=".activity.ForgetPasswordResetActivity" />
        <activity android:name=".activity.ForgetPasswordMessageActivity" />
        <activity android:name=".activity.ForgetPasswordCodeVerifyActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.SignUpActivity_2" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>